{
    "DATABASE": {
        "NAME": "",
        "USER": "",
        "PASSWORD": "",
        "HOST": "",
        "PORT": "",
        "TEST": {
            "NAME": ""
        }
    },
    "PLUGINS": [],
    "TIMEZONE": "UTC",
    "UPLOAD_DIR": "",
    "REDIS_URI": ""
}
