from django.test import TestCase
from django.db import connection

from biohub.accounts.models import User


class TestUser(TestCase):

    def setUp(self):
        print(connection.settings_dict['NAME'])
        User.objects.create_user('hsfzxjy')

    def test_name(self):
        user = User.objects.all()[0]

        self.assertEqual(user.username, 'hsfzxjy')
